.reader {
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    color: $color-white;
    background-color: rgba($color-black, 0.5);  

    &__header {
        width: 100vw;
        z-index: 1001;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        background-color: rgba($color-black, 0.5);
    }
    
} 